include header.jade

        title Prototype
        meta(name='description', content='DonateWare is a free and legal Bit Torrent client that runs on donations.')

        a(href="upload", class="dButton", id="uploadButton") Upload

        section(id="mainSearchPanel")
            form(action="/comments", method="get")
                input(id="mainSearchField", autofocus type="text", name="mainSearchBar", placeholder=" Search DonateWare")
                fieldset
                    input(type="radio", name="searchTypes", value="All", checked="true") 
                    span All
                    input(type="radio", name="searchTypes", value="Apps")
                    span Apps
                    input(type="radio", name="searchTypes", value="Music")
                    span Music
                    input(type="radio", name="searchTypes", value="Video")
                    span Video
                    input(type="radio", name="searchTypes", value="DonateWareQs")
                    span Questions about Donateware
                input(class="dButton", id="mainSearchButton", type="submit", value="Search")

section(id="mainSearchResults")
    div(id="mainResultsField")
        nav
            a(href="")
                h3 Most Downloads
            a(href="")
                h3 Highest Rated
            a(href="")
                h3 Newest
        div(id="dCommentContainer")
        -   var commentCount = 0; 
        -   for(var comment in comments) {
        -       commentCount++; 
                div(class="dCommentBlock")
                    h2= comments[comment].title
                    aside= comments[comment].date
                    span= comments[comment].name
                    p= comments[comment].text
        - };
        p(class="resultsField") Total Results: #{commentCount}

include footer.jade